table.issue > tbody > tr.header > td {
    font-weight: 600;
}

table.issue > tbody > tr > td.center {
    text-align: center;
}

table.issue > tbody > tr > td:first-of-type {
    text-align: right;
    vertical-align: top;
}
