div.personal_opinion_widget {
    border: 1px solid black;
    background: #f0f0f0;
    border-radius: 0.5em;
}

div.personal_opinion_widget div.head p {
    border-bottom: 1px solid black;
    font-size: 95%;
    text-align: center;
    padding: 0.1em;
    margin: 0.1em;
}

div.personal_opinion_widget div.head p.caption {
    font-weight: 600;
}

div.personal_opinion_widget div.votes {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.personal_opinion_widget div.votes > p {
    margin: 0.1em;
}

div.personal_opinion_widget div.votes div.txt {
    padding: 0.2em;
    margin: 0.2em;
}
div.personal_opinion_widget div.head .issue .meta-text {
    font-size:80%;
}

div.votes div.check {
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 1;
    margin: 0;
    padding: 0;
}
div.votes div.check.supports {
    border: 2px solid green;
    color: green;
}
div.votes div.check.opposes {
    border: 2px solid red;
    color: red;
}

div.votes div.check div.checkbox {
    font-family: dashicons;
    font-size: 50px;
    text-decoration: none;
    position: absolute;
    transform: translate(-5px, -5px);
    transition-duration: 2s;
}

